{% extends "padre.html" %}

	{% block estilo %}
	{{ parent() }}
	<style>
		.main-cientifico {
			grid-area: main;
			text-align: justify;
			background: #fff;
			color: #000;
			justify-content: center;
			padding: 20px;
		}

		.main-cientifico h2 {
			text-align: center;
		}

		.main-cientifico p {
			line-height: 1.6em;
		}

		.img-cientifico {
			float:right;
			border-radius: 5px;
			width: auto;
			height: auto;
			max-width: 50%;
			margin: 10px 15px;
			padding: 0;
			display:inline;
		}

		.boton-social img {
			width: 40px;
			height: auto;
			display: inline;
			margin: 15px 15px;
		}

		/* Practica 2, sección de comentarios */
		.sidebar-comments {
			height: 100%;
			/*width: 45%;    Visible*/
			width: 0;   /* No visible*/
			box-sizing: border-box;
			font-size: 14px;
			background: #e9e9e9;
			font-family: system-ui;
			line-height: 1.2rem;

			position: fixed;
			z-index: 1;
			top: 0;
			right: 0;
			overflow-x: hidden;
			padding-top: 60px;
			transition: 0.5s;
		}

		.comment-form, .post-comment .list {
			background: #fff;
			border-radius: 6px;
			box-shadow: : 0 2px 2px #0002;
			padding: 8px;
			width: 100%;
		}

		.comment-section {
			width: 80%;
			height: auto;
			margin: 0 auto;
		}

		.post-comment .list {
			margin-bottom: 12px;
		}

		.post-comment .list .user-meta, .comment-form .user-meta {
			display: block;
			padding: 12px;
			overflow: hidden;
		}

		.comment-section .name {
			font-weight: bold;
		}

		.post-comment .list .mail {
			font-size: 12px;
			font-style: italic;
		}

		.post-comment .list .day {
			font-size: 12px;
		}

		/* Comment Form */
		.comment-form textarea {
			display: block;
			background: #eee;
			width: -webkit-fill-available;
			border-radius: : 5px;
			box-shadow: 0 0 0 1px #0003;
			margin: 10px 10px;
		}

		.comment-form .comment-submit {
			/*float: right;*/
			padding: 6px 10px;
			border: none;
			background: #009cff;
			color: #eee;
			cursor: pointer;
			border-radius: 3px;
		}

		.comment-form .comment-submit:hover {
			background: #0076bf;
		}

		.sidebar-comments .close-button {
			position: absolute;
			top: 0;
			left: 25px;
			font-size: 36px;
			margin-right: 50px;

		}
	</style>
	{% endblock %}

	{% block script %}
    <script src="js/jquery-3.6.4.min.js"></script>
	<script src="js/myscript.js" defer></script>
	{% endblock %}

	{% block main %}
	<section class="main-cientifico">
		<br/>
		<p><h2>{{ cientifico['nombre'] }}</h2></p>
		<br/>

		{% for foto in fotos %}
    		<img class="img-cientifico" src="{{ foto['src'] }}" alt="{{ cientifico['nombre'] }}">
		{% endfor %}

		{{ cientifico['contenido'] }}

		<br/>

		<a class="boton-social" href="imprimir.php?cf={{ cientifico['id'] }}" target="blank">
			<img src="imgs/print.png" alt="print">
		</a>
		
		<a class="boton-social" href="http://twitter.com/" target="blank">
			<img src="imgs/tw.png" alt="twt">
		</a>

		<a class="boton-social" href="http://facebook.com" target="blank">
			<img src="imgs/fb.png" alt="fb">
		</a>

		<a class="boton-social" href="javascript:void(0)" onclick="openComments()">
			<img src="imgs/icono-comentarios.jpg" alt="comments">
		</a>

	</section>
	{% endblock %}

	{% block comments %}
	<!-- [P2] -->
	<aside class="sidebar-comments" id="sidebar-comments-id">
		<a href="javascript:void(0)" class="close-button" onclick="closeComments()">&times;</a>
		<div class="comment-section">
			<div class="post-comment">
				{% for comentario in comentarios %}
				<div class="list">
					<div class="user-meta">
						<div class="name">{{ comentario['username'] }}</div>
						<div class="mail">{{ comentario['usermail'] }}</div>
						<div class="day">{{ comentario['fecha'] }}</div>
						{%if comentario.modificado%}
						<div class="mail">Atencion: Comentario modificado por MODERADOR.</div>
						{%endif%}
					</div>
					<div class="comment-cnt">{{ comentario['contenido'] }}</div>
				</div>
				{% endfor %}
			</div>
			{% if user %}
			<div class="comment-form">
				<form action="guardar_comentario.php?cf={{ cientifico.id }}" method="post">
					<div class="form-group">
						<label for="usuario">Usuario:</label>
						<input type="text" name="usuario" value="{{ user.nick }}" readonly>
					</div>
					<div class="form-group">
						<label for="correo">Correo:</label>
						<input type="email" name="correo" value="{{ user.email }}" readonly>
					</div>
					<div class="form-group">
						<label for="contenido">Contenido:</label>
						<textarea name="contenido" id="form-comment-cnt" rows="5" onkeyup="censor(event)" placeholder="Escriba su comentario..."></textarea>
					</div>
					<button type="submit">Enviar Comentario</button>
				</form>
			</div>
			{% endif %}
		</div>
	</aside>
	{% endblock %}